{% extends "base.html" %}

{% block title %}Add Feedback{% endblock %}

{% block content %}

<h1>Add Feedback</h1>

<form method="POST" action="{{ url_for('submit_feedback') }}">

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" placeholder="Enter your name" required><br><br>
    <label for="name">Email:</label><br>
    <input type="email" name="email" placeholder="Enter your email" required><br><br>
    <label for="message">Message:</label><br>
    <textarea id="message" name="message" placeholder="Enter message" required></textarea><br><br>
    <button type="submit">Submit</button>

</form>

{% endblock %}