<!DOCTYPE html>
<html>
    <head>
        <title>Calculator</title>
    </head>
    <body>
        <h1>Simple Calculator</h1>
        <form action="/calculate" method="POST">
            <label for="num1">Number1</label>
            <input type="number" id="num1" name="number1">
            <br><br>
            <label for="num2">Number2</label>
            <input type="number" id="num2" name="number2">
            <br><br>
            <label>Operation:</label>
            <select name="operation">
                <option value="add">Add</option>
                <option value="subtract">Subtract</option>
                <option value="multiply">Multiply</option>
                <option value="divide">Divide</option>
            </select>
            <br><br>
            <button type="submit">Calculate</button>
        </form>
    </body>
</html>